/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.desk-btn {
    -fx-background-color: #a0d0d6;
}
.desk-btn:hover {
    -fx-background-color: #b0e0e6;
}
.desk-btn.is-danger {
	-fx-background-color: #e48440;
}
.desk-btn.is-danger:hover {
	-fx-background-color: #f4a460;
}

.floor-btn {
	-fx-border-color: black;
	-fx-border-style: dashed;
	-fx-border-width: 0;
	-fx-background-color: #b3d9ff;
	-fx-padding: 10px 50px;
	-fx-font-size: 13px;
	-fx-border-style: solid;
	-fx-border-width: 0;
	-fx-border-color: #f4f4f4;
}
.floor-btn.is-active {
	-fx-border-color: #e6f3ff;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}
.floor-btn:hover {
	-fx-background-color: #c3e9ff;
}
/*
.floor-btn.left {
	-fx-background-radius: 16 0 0 16;
}
.floor-btn.right {
	-fx-background-radius: 0 16 16 0;
}
* */
.floor-btn.left, .floor-btn.right {
	-fx-border-radius: 16 16 0 0;
	-fx-background-radius: 16 16 0 0;
}


.zone-region {
	-fx-background-color: #b0e0e6;
	-fx-padding: 0px;
    -fx-border-insets: 0px;
    -fx-background-insets: 2px;
    -fx-font-size: 15px;
}
.zone-region.is-disabled {
	-fx-background-color: #d2d2d2;
}

.time-picker-label {
	 -fx-font-size: 16px;
	 -fx-padding: 10 0 30 0;
	 -fx-min-width: 50px;
	 -fx-max-width: 50px;
}