/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.desk-btn {
    -fx-background-color: #a0d0d6;
}
.desk-btn:hover {
    -fx-background-color: #b0e0e6;
}
.desk-btn.is-danger {
	-fx-background-color: #e48440;
}
.desk-btn.is-danger:hover {
	-fx-background-color: #f4a460;
}
.desk-btn.is-disabled {
	-fx-background-color: #ccc;
	-fx-text-fill: #888;
}
.reserve-btn {
	-fx-background-color: #a4e490;
	-fx-font-size: 23.0px;
	fx-pref-widt:	100.0;	 
	-fx-pref-height: 100.0;
}
.reserve-btn.is-disabled {
	-fx-background-color: #ccc;
	-fx-text-fill: #888;
}

.back-btn {
	-fx-background-color: #a4e490;
}
.cancelReserve-btn {
	-fx-background-color: #f47460;
}

.floor-btn {
	-fx-border-color: black;
	-fx-border-style: dashed;
	-fx-border-width: 0.0;
	-fx-background-color: #b3d9ff;
	-fx-padding: 10.0px 50.0px;
	-fx-font-size: 13.0px;
	-fx-border-style: solid;
	-fx-border-width: 0.0;
	-fx-border-color: #f4f4f4;
}
.floor-btn.is-active {
	-fx-border-color: #e6f3ff;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
}
.floor-btn:hover {
	-fx-background-color: #c3e9ff;
}
/*
.floor-btn.left {
	-fx-background-radius: 16 0 0 16;
}
.floor-btn.right {
	-fx-background-radius: 0 16 16 0;
}
* */
.floor-btn.left, .floor-btn.right {
	-fx-border-radius: 16.0 16.0 0.0 0.0;
	-fx-background-radius: 16.0 16.0 0.0 0.0;
}


.zone-region {
	-fx-background-color: #b0e0e6;
	-fx-padding: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-background-insets: 2.0px;
    -fx-font-size: 15.0px;
}
.zone-region.is-disabled {
	-fx-background-color: #d2d2d2;
}

.time-picker-label {
	 -fx-font-size: 16.0px;
	 -fx-padding: 10.0 0.0 30.0 0.0;
	 -fx-min-width: 50.0px;
	 -fx-max-width: 50.0px;
}

.ControlPane {
	-fx-background-color: rgb(67, 54, 50);
	-fx-text-fill: #f4f4f4;
}

.ControlPane > *,
.ControlPane .LoginPane > *,
.ControlPane .Contract > * {
	-fx-text-fill: #f4f4f4;
}

.LoginPane .input {
	-fx-text-fill: rgb(62, 50, 47);
	-fx-pref-width: 75;
	-fx-padding: 7 7;
	-fx-background-color: #f4f4f4;
}
.LoginPane HBox {
	-fx-background-color: transparent;
	-fx-padding: 0;
}
.LoginPane HBox .button {
	-fx-background-color: #f4f4f4bb;
	-fx-border-radius: 8 8 8 8;
	-fx-padding: 5 16;
	-fx-pref-width: 75;
}
.LoginPane HBox .button:hover {
	-fx-background-color: #f4f4f4;
	-fx-border-radius: 8 8 8 8;
	-fx-padding: 5 16;
}

.map-btn {
	-fx-background-color: transparent; 
	-fx-border-radius: 8 8 8 8;
	-fx-max-width: 100;
	-fx-width: 100;
	-fx-opacity: 0.8;
}
.map-btn:hover {
	-fx-opacity: 1;
}

.button.is-space {
	-fx-pref-width: 100;
	
}