/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*
@font-face {
    src: url(../image/chulalongkornreg-webfont.ttf);
}
* {
	-fx-font-family: "CHULALONGKORN Regular";
}
*/
.desk-btn {
  -fx-cursor: hand;
  -fx-background-color: #a0d0d6;
}
.desk-btn:hover {
  -fx-background-color: #b0e0e6;
}
.desk-btn.is-danger {
  -fx-background-color: #e68d4e;
}
.desk-btn.is-danger:hover {
  -fx-background-color: #f4a460;
}
.desk-btn.is-disabled {
  -fx-background-color: #ccc;
  -fx-text-fill: #888;
}
.reserve-btn {
  -fx-cursor: hand;
  -fx-background-color: #6dbb80;
  -fx-background-radius: 13;
  -fx-text-fill: #f4f4f4;
  -fx-font-size: 23px;
  -fx-pref-height: 100;
}
.reserve-btn:hover {
  -fx-background-color: #79c28b;
  -fx-font-size: 23px;
}

.reserve-btn.is-disabled {
  -fx-background-color: rgb(184, 184, 184);
  -fx-text-fill: #777;
}

/*
.back-btn {
  -fx-cursor: hand;
  -fx-background-color: #57db95;
}*/
.cancelReserve-btn {
  -fx-cursor: hand;
  -fx-background-color: #b45874;
  -fx-padding: 5 10 5 10;
  -fx-text-fill: #fff;
}
.cancelReserve-btn:hover {
  -fx-background-color: rgb(199, 80, 116) 4;
}

.floor-btn {
  -fx-cursor: hand;
  -fx-border-color: black;
  -fx-border-style: dashed;
  -fx-border-width: 0;
  -fx-background-color: #b65c77;
  -fx-background-color: #92c4e4;
  -fx-padding: 10px 50px;
  -fx-font-size: 13px;
  -fx-text-fill: #f4f4f4;
  -fx-border-style: solid;
  -fx-border-width: 0;
  -fx-border-color: #f4f4f4;
}
.floor-btn.is-active {
  -fx-cursor: hand;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}
.floor-btn:hover {
  -fx-background-color: #c76683;
  -fx-background-color: #94ccee;
}
/*
.floor-btn.left {
	-fx-background-radius: 16 0 0 16;
}
.floor-btn.right {
	-fx-background-radius: 0 16 16 0;
}
* */
.floor-btn.left,
.floor-btn.right {
  -fx-cursor: hand;
  -fx-border-radius: 16 16 0 0;
  -fx-background-radius: 16 16 0 0;
}

.zone-region {
  -fx-cursor: hand;
  -fx-background-color: #b0e0e6;
  -fx-background-color: #c1e3ed;
  -fx-padding: 0px;
  -fx-border-insets: 0px;
  -fx-background-insets: 2px;
  -fx-font-size: 15px;
}
.zone-region:hover {
  -fx-background-color: #cdeaf4;
}
.zone-region.is-disabled {
  -fx-background-color: #d2d2d2;
}

.time-picker-label {
  -fx-font-size: 16px;
  -fx-padding: 10 0 30 0;
  -fx-min-width: 50px;
  -fx-max-width: 50px;
}

.ControlPane {
  -fx-background-color: rgb(67, 54, 50);
  -fx-text-fill: #f4f4f4;
}

.ControlPane > *,
.ControlPane .LoginPane > *,
.ControlPane .Contract > * {
  -fx-text-fill: #f4f4f4;
}

.LoginPane .input {
  -fx-text-fill: rgb(62, 50, 47);
  -fx-pref-width: 75;
  -fx-padding: 7 7;
  -fx-background-color: #f4f4f4;
}
.LoginPane HBox {
  -fx-background-color: transparent;
  -fx-padding: 0;
}
.LoginPane HBox .button {
  -fx-background-color: #f4f4f4bb;
  -fx-border-radius: 8 8 8 8;
  -fx-padding: 5 16;
  -fx-pref-width: 75;
}
.LoginPane HBox .button:hover {
  -fx-background-color: #f4f4f4;
  -fx-border-radius: 8 8 8 8;
  -fx-padding: 5 16;
}

.map-btn {
  -fx-cursor: hand;
  -fx-background-color: transparent;
  -fx-border-radius: 8 8 8 8;
  -fx-max-width: 100;
  -fx-width: 100;
  -fx-opacity: 0.8;
}
.map-btn:hover {
  -fx-opacity: 1;
}
.button {
  -fx-cursor: hand;
}
.button.is-space {
  -fx-pref-width: 100;
}
.nav-link {
  -fx-cursor: hand;
  -fx-text-weight: bold;
  -fx-underline: true;

  -fx-text-fill: rgb(55, 94, 154);
}
.nav-link:hover {
  -fx-text-fill: rgb(105, 133, 176);
}

.RightDetail,
.Records,
.notification {
  -fx-min-height: 120;
  -fx-padding: 20 20 20 20;
  -fx-background-color: #d6d3cf99;
  -fx-background-radius: 8;
}
.RightDetail {
  -fx-min-width: 330;
  -fx-max-width: 330;
}
.RightDeatil.is-active {
  -fx-background-color: #eeeefe;
}

.ListView {
  -fx-padding: 0;
  -fx-pref-width: 200;
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-background-color: transparent;
}
/*
.list-view .list-cell:focus {
  -fx-background-color: rgba(198, 211, 230, 0.2);
}*/

.ReservePane VBox {
  -fx-pref-width: 155;
}

.PositionSelector {
  -fx-background-color: rgb(242, 239, 234);
}

.list-view .list-cell:even {
  -fx-background-color: #d6d3cf99;
}
.list-view .list-cell:odd {
  -fx-background-color: transparent;
}

.range-slider .track {
  -fx-background-color: rgba(92, 70, 58, 0.212);
  /*
	-fx-tick-label-fill: white;
  -fx-text-fill: rgb(55, 94, 154);
	*/
}

.range-slider .low-thumb,
.range-slider .high-thumb {
  /*-fx-body-color: transparent;*/
  -fx-background-color: linear-gradient(
      to bottom,
      derive(-fx-text-box-border, -20%),
      derive(-fx-text-box-border, -30%)
    ),
    -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 1em; /* makes sure this remains circular */
  -fx-padding: 0.583333em; /* 7 */
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
}

.range-slider:focused .low-thumb,
.range-slider:focused .high-thumb {
  -fx-background-radius: 1em; /* makes sure this remains circular */
}

.range-slider .low-thumb,
.range-slider .high-thumb,
/* MAKE IT LIKE ALL TIME FICUS */
.range-slider .low-thumb:focused,
.range-slider .high-thumb:focused {
  -fx-focus-color: #b45874;
  -fx-background-color: -fx-focus-color, derive(-fx-color, -36%),
    derive(-fx-color, 73%),
    linear-gradient(to bottom, derive(-fx-color, -19%), derive(-fx-color, 61%));
  -fx-background-insets: -1.4, 0, 1, 2;

  -fx-background-radius: 1em; /* makes sure this remains circular */
}

.range-slider .low-thumb:hover,
.range-slider .high-thumb:hover {
  -fx-color: -fx-hover-base;
}

.range-slider .range-bar {
  -fx-background-color: -fx-focus-color;
  -fx-background-color: #b45874;
}

.range-slider .low-thumb:pressed,
.range-slider .high-thumb:pressed {
  -fx-color: -fx-pressed-base;
}
